* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
}

main {
    margin-inline: 35px;
    margin-bottom: 50px;
}

nav {
    margin-bottom: 10px;
    line-height: 3;
    margin-right: 20px;
}

h1 {
    margin-top: 20px;
    margin-inline: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    display: block ruby;
}

p {
    margin-bottom: 20px;
    line-height: 1.7;
}

.kollektion {
    display: grid;
    line-height: 2;
    align-items: center;
    gap: 20px;
}

@media (min-width: 1050px) {
    main {
        max-width: 1300px;
        margin-inline: 100px;
        margin-top: 50px;
    }
    nav {
        margin-bottom: 50px;
    }
    .grid_1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }
    .menu {
        grid-column: 1/2;
    }
    .col {
        grid-column: 2/5;
    }
    .forside_pic {
        grid-column: 5/7;
    }
    .grid_4 {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: 40px;
    }
    .menu_4 {
        grid-column: 1;
    }

    .tekst_5 {
        margin-top: 86px;
    }
}

/* page 3 - kollektion */
@media (min-width: 850px) {
    .main_3 {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 20px;
    }
    .menu_3 {
        grid-column: 1;
    }
    .kollektion {
        display: grid;
        grid-template-columns: 1.5fr repeat(4, 1fr);
    }
    .h2_3 {
        grid-column: 1/ span 5;
    }
    .SD_tekst {
        grid-column: 1;
    }
    .A_tekst {
        grid-column: 1;
    }
    .MvsA_tekst {
        grid-column: 1;
    }
    .NY_tekst {
        grid-column: 1;
    }
    .OA_tekst {
        grid-column: 1;
    }
}

footer {
    margin-top: 20px;
    margin-inline: 20px;
    margin-bottom: 20px;
    text-align: center;
}